.header {
    display: flex;
    justify-content: space-between;
    padding: 92px 0px 96px 0px;
}

.header__left-block {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 40px;
}

.header__logo {
    width: 148px;
}

.header__logo-image {
    width: 100%;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 28px;
    font-size: 18px;
    list-style: circle;
}

.header__links-list li:hover {
    list-style-type: none;
}

.header__links-list li:hover a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.header__address-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top: 27px;
    padding-right: 60px;
    font-size: 20px;
}

.header_address {
    width: 200px;
}

.cover__wrapper {
    position: relative;
    height: 757px;
}

.main__img-cover {
    width: 100%;
    height: 757px;
    position: absolute;
}

.overlay {
    width: 1100px;
    height: 757px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}

.cover__title {
    color: white;
    position: absolute;
    font-size: 65px;
    line-height: 100px;
    letter-spacing: 0.5em;
    position: relative;
    top: 140px;

}

.cover__title-wrapper {
    display: flex;
    flex-direction: column;
}

.aligned-text {
    line-height: 1.5em;
    letter-spacing: 0.3em;
    text-align: left;
    padding-left: 50px;
}

.aligned-text_center {
    line-height: 1.3em;
    letter-spacing: 0.3em;
    text-align: center;
}

.aligned-text_right {
    line-height: 1.3em;
    letter-spacing: 0.3em;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.cover__description {
    color: white;
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 60px;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    word-spacing: 1.2em;
}

button {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.7);
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 12px 30px;
}

.bet-button {
    padding-left: 60px;
}

.lots__heading {
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
}

.card__img {
    width: 334px;
    height: 563px;
    top: 74px;
    background-size: cover;
}

.lots__card-list {
    list-style-type: none;
}

.card__title {
    width: 254px;
    height: 82px;
    top: 125px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
}

.card__text {
    width: 254px;
    height: 144px;
    top: 445px;
    left: 40px;
    gap: 0px;
    opacity: 0px;

}